.main{
    height: 100px;
    width: 600px;
    background-color: aqua;
    .row1{
        .row1c1{
            width: 300px;
            height: 50px;
            background-color:burlywood;
            float: left;
            
        }
        .row1c2{
            width: 300px;
            height: 50px;
            background-color:peru;
            float: right;
        }
    }
    .row2{
        .row2c1{
            width: 300px;
            height: 50px;
            background-color: gray;
            float: left;
        }
        .row2c2{
            width: 300px;
            height: 50px;
            float: left;
            background-color: hotpink;
        }

    }
}

.main2{
    /* width: 900px;
    height: 200px;
    background-color: blue; */
    .R1{
        .R1c1{
            width: 200px;
            height: 50px;
            background-color: aquamarine;
            float: left;
            text-align: center;

        }
        .R1c2{
            width: 500px;
            height: 50px;
            background-color: rgb(13, 135, 95);
            float: left;
            text-align: center;

        }
        .R1c3{
            width: 200px;
            height: 50px;
            background-color:plum;
            float: left;
            text-align: center;

        }
    }

    .R2{
        width: 900px;
        height: 100px;
        background-color: antiquewhite;
        text-align: center;
    }

    .R3{
        .R3c1{
            width: 450px;
            height: 50px;
            background-color: red;
            float: left;
            text-align: center;

        }
        .R3c2{
            width: 450px;
            height: 50px;
            background-color: gold;
            float: left;
            text-align: center;

        }
    }
}